// Variable overrides first
// Then import Bootstrap
// stylelint-disable value-keyword-case
$font-family-sans-serif:      "mrs-eaves";
$font-family-monospace:       "anonymous-pro";
$headings-font-family:        "gin" !default;
$white: #ffffff;

// https://huemint.com/bootstrap-plus/#palette=fff7db-ffffff-3d1e00-efa506-3188bf-99d171-5c6539-9e4747-f79797
$theme-colors: (
    "light":      #fff7db, 
    "dark":       #3d1e00, 
    "primary":    #efa506,
    "secondary":  #3188bf,
    "info":       #99d171,
    "accent1":    #5c6539, 
    "accent2":    #9e4747,
    "accent3":    #f79797,
    "success":    #5abe02,
    "warning":    #ffc875,
    "danger":     #fe0163,
);
//@import "cover.scss";
@import "fonts.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$prefix}font-sans-serif);
$font-family-code:            var(--#{$prefix}font-monospace);

.cover-container {
  max-width: 42em;
}

article {
    text-align: justify;
}
